<h1>All artists:</h1>

<p><%= link_to "Create a new artist", new_artist_path %></p>

<% @artists.each do |artist| %>
    <ul>
        <li>
            <p><%= link_to artist.name, artist_path(artist) %></p>
        </li>
    </ul>
<% end %>