<h1>All Songs:</h1>

<p><%= link_to "Create a new song", new_song_path %></p>

<% @songs.each do |song| %>
    <ul>
        <li>
            <p><%= link_to song.title, song_path(song) %></p>
        </li>
    </ul>
<% end %>